html{ font-size: 62.5%;}
body{ font-size: 1.7rem;}
ul,ol{ list-style: none;}
a{ text-decoration: none;}
a:hover{ outline:none; }
label{ display: block;}
input{ display: none;}
:root {
  --main-color: #fbc02d;
  --sub-color: #2db9cc;
}